.items {
    display: block;
    padding: 1rem; 
}

.item {
    display: flex;
    text-align: left;
}

#what i {
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom: 0;
}

@media(max-width: 500px) {
    #navbar {
        flex-direction: column;
        align-items: center;
    }
    .logo {
        margin-bottom: 0.5rem;
        text-align: center;
    }
    #navbar ul {
        padding: 0.5rem;
    }
    
    .who-img { display: none;
    
    }
    .ite {
        padding: 1rem;
        margin-bottom: 1rem;
    }
    img {
        width: 80%;
    }
    #clients .ite div:last-child {
        display: none;
    }
    #contact {
        flex-direction: column;
    }
    #contact .map {
        height: 200px;
    }
}

@media (max-height: 568px) {
    .big {
        font-size: 2rem;
    }
    .sc {
        font-size: 1rem;
    }
}