* { box-sizing: border-box; padding: 0; margin: 0;}

/* Tag selector */

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6rem;
}


a { 
    text-decoration: none;
    color: black;
}

h1 , h2 , h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0;
}

span {
    color: peru;
}


/* class selector */

.hotel { width: 70px;}

.hotel:hover {
    background-color: gray;
}

.cur  {
    background-color: #3434;
    color: #fff;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    overflow: auto;
    
}

.content {
    text-align: center;
    padding-top: 300px;
    line-height: 2rem;
    font-weight: bold;
    font-size: 20px;
    color: #fff; 
}
.btn {

    color: peru;
    font-family: sans-serif;
    font-size: 23px;
    font-weight: 100;
    padding: 5px;
    border: solid  1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    border: solid #209F3A 1px;
    background: #5E19DB;
    background-image: -webkit-linear-gradient(top, #5E19DB, #868910);
    background-image: -moz-linear-gradient(top, #5E19DB, #868910);
    background-image: -ms-linear-gradient(top, #5E19DB, #868910);
    background-image: -o-linear-gradient(top, #5E19DB, #868910);
    background-image: -webkit-gradient(to bottom, #5E19DB, #868910);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}

.btn1 { color: #000;
    font-family: sans-serif;
    font-size: 23px;
    font-weight: 100;
    padding: 5px;
    border: solid  1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;

}

.btn1:hover {
    border: solid #209F3A 1px;
    background: #5E19DB;
    background-image: -webkit-linear-gradient(top, #5E19DB, #868910);
    background-image: -moz-linear-gradient(top, #5E19DB, #868910);
    background-image: -ms-linear-gradient(top, #5E19DB, #868910);
    background-image: -o-linear-gradient(top, #5E19DB, #868910);
    background-image: -webkit-gradient(to bottom, #5E19DB, #868910);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}

.box {
    float: left;
    width: 25%;
    padding: 40px;
    text-align: center;
}

.clr {
    clear: both;
}

.light {
    background-color: #eaf6f6;
}

.dark {
    background-color: gray;
    color: #fff;
}

.about-content {
    float: left;
    width: 50%;
    min-height: 100%;
    padding: 30px;
}

.about-content h1 {
    font-size: 35px;
}
.about-img {
    float: right;
    width: 50%;
    min-height: 100%;
    padding: 30px;
}

.about-img img {
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 40%;
}



/* Id selector */

#navbar {
    background-color: blueviolet;
    color: bisque;
    overflow: auto;
}

#navbar img {
    float: left;
    padding-top: 20px ; 
    padding-bottom: 10px;
}

#navbar ul {
    list-style: none;
    float: right;
}

/* * #navbar  li {
    float: left; 
} */

#navbar ul a {
    display: inline-block;
    padding: 20px;
    text-align: center;
    font-size: 18px;
} 

#navbar ul a:hover  {
    background-color: grey;
    color: yellow;
}

#below-nav {
    background: url(../images/hotel-reception-720x540.jpg) no-repeat center center/cover;
    height: 600px;
}

#below-nav h1 {
    font-size: 45px;
}

#below-nav h1 p {
    padding-bottom: 20px;
}

#sec {
    height: 400px;
}

#sec .sec-img {
    float: left;
    width: 50%;
    min-height: 100%;
    background: url(../images/hennny.jpg) no-repeat center center/cover;
}

#sec .sec-content {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
    background-color: #eaf6f6;
    line-height: 2rem;

}

#features i {
    margin-bottom: 10px;
}

#foot {
    background-color: rgb(53, 50, 50);
    color: #eaf6f6;
    padding: 20px;
    text-align: center;
}